<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <header>
        <h2>Page Banco</h2>
    </header>
    
    <section>
        <div>
            <h2>Hi, welcome to the website</h2>  
            <a href="/add" >Add Employee</a><br><br>  
            <a href="/view" >List Records</a><br><br>  
            <a href="/delete" >Delete Record</a><br><br>
        </div>
    </section>
    <br>
    <footer> 
    <section>
        <div id="repetir">
            
        </div>
    </section>
    </footer><br>

    <footer>
        
    </footer>
    
    
</body>
</html>