<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <header>
        <h2>Page Delete</h2>
    </header>
    
    <section>
        <div>
            <h3>Remove Employee from the list</h3>  
  
            <form action="/deleterecord" method="post">  
            Employee Id <input type="text" name="id">  
            <input type="submit" value="Submit">
        </div>
    </section>
    <br>
    <footer> 
    <section>
        <div id="repetir">
            
        </div>
    </section>
    </footer><br>

    <footer>
        
    </footer>
    
    
</body>
</html>