<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <header>
        <h2>Page</h2>
    </header>
    
    <section>
        <div>
            <h2>rebaixamento ideal</h2>
    <form action = "/rebaixamento" method="post">  
    <table>  
        <tr><td>Paletes por Caminhão</td><td><input type="number" name="caminhao"></td></tr>  
        <tr><td>Caixas por Lastro</td><td><input type="number" name="lastro"></td></tr>  
        <tr><td>Empilhamento Máximo</td><td><input type="number" name="empilhamento"></td></tr>
        <tr><td>Paletes Comprados</td><td><input type="number" name="compra"></td></tr>  
        <tr><td><input type="submit" value="Submit"></td></tr>  
    </table>  
    </form>
            
        </div>
    </section>
    <br>
    <footer> 
    <section>
        <div id="repetir">
            
        </div>
    </section>
    </footer><br>

    <footer>
        
    </footer>
    
    
</body>
</html>