<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <header>
        <h2>Page Sucesso</h2>
    </header>
    
    <section>
        <div>
            <h3>Hi Admin, {{msg}}</h3>  
            <a href="/view">View Employees</a>
            
        </div>
    </section>
    <br>
    <footer> 
    <section>
        <div id="repetir">
            
        </div>
    </section>
    </footer><br>

    <footer>
        
    </footer>
    
    
</body>
</html>